#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.photograph-header img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    object-fit:cover;
}

.photographer-info h1{
    color: #D3573C;
    font-weight: 200;
    font-size: 50px;
    margin: 0;
}

.photographer-info h2{
    color: #901C1C;
    font-weight: 200;
    margin-bottom: 12px;
}

.photographer-info p{
    font-size: 14px;
}
.photograph-work{
    margin: 30px 100px
}

.photograph-work #sortSelect, 
#sortSelect option{
    padding: 8px 16px;
    border: none;
    background-color: #901C1C;
    color: #FAFAFA;
    border-radius: 5px;
    font-family: "DM Sans", sans-serif;
}
.photograph-gallery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
    column-gap: 50px;
}

.gallery-item{
    flex-basis: 28%;
    margin-bottom: 30px;
 }
 .item img,
 .item video{
     width: 100%;
     height: 250px;
     object-fit: cover;
     border-radius: 5px;
     cursor: pointer;
 }
 .media{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
 }
 .media-title,
 .media-likes {
    color: #901C1C!important;
 }


.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}